extends layout

block contains
		div(ng-controller="ArticleController")
			div(infinite-scroll='getArticles()' infinite-scroll-disabled='reachedEnd' infinite-scroll-distance='1')
				div(ng-repeat="article in articles.articles track by $index" ng-show='articles').row
					.col-md-8.articleWrapper(ng-init = 'id = article._id')
						center
							h5 {{article.section}} {{reachedEnd}}
						h2.articleTitle {{article.title}}
						.row.imgWrapper(ng-show='{{article.image.url}}')
							.col-md-8.articleImage
								img(src='{{article.image.url}}', width='100%')
							.col-md-4.articleCaption
								p {{article.image.caption}}
								
						p.articleAbstract {{article.abstract}} 
							a(href='{{article.url}}') Read full story. 
						p.small {{article.timestamp.substring(11,16) | datefilter}}
							span(style='float:right') {{article.timestamp.substring(0,10).split('-').reverse() | articleDateFilter}} 
						br
						if(user)
							.buttonsContainer(ng-init='userid = #{JSON.stringify(user._id)}')
								span.up(ng-click='upvote(id,userid)')
									img(src='/img/up.png', width='20px')
									|    {{article.votes.up.length}}
								span.down(ng-click='downvote(id,userid)')
									img(src='/img/down.png', width='20px')
									|    {{article.votes.down.length}}
								span.commentLink(ng-click='showComments(id); article.clickcomment = true')
									img(src='/img/comment.png', width='20px')
									|    Comments
								span.readingListLink( ng-click="addToReadingList(id,userid)")
									img(src='/img/plus.png', width='20px')
									|    Add to Reading List
							.commentsContainer(id="{{id}}" ng-show='article.fetchedComments' ng-init='article.fetchedComments=[]')
								.eachcomment(ng-repeat="comment in article.fetchedComments" ng-show="article.fetchedComments")
									.col-md-2
										img.profilepicture(ng-src="img/profilePicture/{{comment.user.id}}.jpg" width=50)
									.col-md-10
										span.glyphicon.glyphicon-remove.right(ng-show="comment.user.id === userid" ng-click="deleteComment(comment._id)")
										h5.commentusername {{comment.user.name}}
										p.comment-time {{comment.timestamp | timestampFilter}}
										p {{comment.content}}
										span.votes(style="font-size:.85em; font-color:black;")
											span.up
												img(src='/img/up.png', width='15px')
												|  {{comment.votes.up.length}}
											span.down
												img(src='/img/down.png', width='15px')
												|  {{comment.votes.down.length}}
										span.editreply(ng-show="comment.user.id === userid")
											| Edit &nbsp;&nbsp;&nbsp;&nbsp;Reply
							form(ng-init='user = #{JSON.stringify(user)}' ng-submit='commentForm(id,user,contents);showComments(id);' ng-show='article.clickcomment')
								textarea(name='contents', ng-model='contents', class="form-control commentform", cols='6')
								button(type='submit' class="submitbtn") Submit
						else
							.buttonsContainer
								span.up(ng-click='clk = true')
									img(src='/img/up.png', width='20px')
									|    {{article.votes.up.length}}
								span.down(ng-click='clk = true')
									img(src='/img/down.png', width='20px')
									|    {{article.votes.down.length}}
								span.commentLink(ng-click='showComments(id); clk=true;')
									img(src='/img/comment.png', width='20px')
									|    Comments
								span.readingListLink( ng-click="clk = true")
									img(src='/img/plus.png', width='20px')
									|    Add to Reading List
							.commentsContainer(id="{{id}}" ng-show='article.fetchedComments')
								.eachcomment(ng-repeat="comment in article.fetchedComments" ng-show="article.fetchedComments")
									.col-md-2
										img.profilepicture(ng-src="img/profilePicture/{{comment.user.id}}.jpg" width=50)
									.col-md-10
										span.glyphicon.glyphicon-remove.right
										h5.commentusername {{comment.user.name}}
										p.comment-time {{comment.timestamp | timestampFilter}}
										p {{comment.content}}
										span.votes(style="font-size:.85em; font-color:black;")
											span.up
												img(src='/img/up.png', width='15px')
												|  {{comment.votes.up.length}}
											span.down
												img(src='/img/down.png', width='15px')
												|  {{comment.votes.down.length}}
							br
							p(ng-show='clk')
								a(href="/login") Login
								|  or 
								a(href="/register") Register
								|  to vote or comment.