extends layout

block contains
	div(ng-controller="articleCtrl")
		div.col-md-4(ng-repeat="article in articles")
			h3.small {{article.section}}
			h2 {{article.title}}
			p {{article.abstract}}
				a(href="{{article.url}}") Read full story.
			input.form-control.col-md-7(type="text",placeholder="enter comment")
			button.btn.col-md-5 Submit