extends layout

block contains
	div(ng-controller="articleCtrl")
			div(ng-repeat="article in articles").row
				.col-md-6.articleWrapper(ng-init = 'id = article._id')
					center
						h5 {{article.section}}
					h2.articleTitle {{article.title}}
					//- .row.imgWrapper(ng-show='{{article.images[2].url}}')
					//- 	.col-md-8.articleImage
					//- 		img(src='{{article.images[2].url}}', width='100%')
					//- 	.col-md-4.articleCaption
					//- 		p {{article.images[2].caption}}
					p.articleAbstract {{article.abstract}} 
						a(href='{{article.url}}') Read full story. 
					p.small {{article.timestamp.substring(11,16)}}AM 
						span(style='float:right') {{article.timestamp.substring(0,10).split('-').reverse().join('/')}} 
					br
					.buttonsContainer
						span.up
							img(src='/img/up.png', width='20px')
							|    {{article.votes.up.length}}
						span.down
							img(src='/img/down.png', width='20px')
							|    {{article.votes.down.length}}
						span.commentLink
							img(src='/img/comment.png', width='20px')
							|    Comment
						span.readingListLink
							img(src='/img/plus.png', width='20px')
							|    Add to Reading List
					if(user)
						.commentsContainer(ng-init='userid = #{JSON.stringify(user._id)}')
							form(ng-submit='commentForm(id,userid)')
								input(type='text', name='contents', ng-model='contents')
								button(type='submit') Submit
