doctype html
html(ng-app='newstalk')
  head
    title News Talk
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/article.css')
    link(rel='stylesheet', href='/css/angular-toastr.min.css')
    link(rel='icon' href='../Drawing.png' type='image/png')
    script(src='/js/relativeDate.js')
    script(src='/js/jquery.min.js')
    script(src='/js/angular.min.js')
    script(src='/js/angular-animate.min.js')
    script(src='/js/angular-toastr.tpls.min.js')
    script(src="/js/jqcloud.min.js")
    script(src="/js/angular-jqcloud.js")
    script(src='/js/main.js')
    script(src='/js/dataService.js')
    script(src='/js/controllers/readinglistctrl.js')
    script(src='/js/ng-infinite-scroll.min.js')
    block headfiles

    link(href='http://fonts.googleapis.com/css?family=Brawler' rel='stylesheet' type='text/css')
  body
    .container
      .heading
        center
          div
            h1.header 
              a(href="/") News Talk
          .subheader
            h5 A  platform  for  discussions  about  the  latest  and  trending  news.
      .navigation
        hr#top-line
        ul.list-inline
          li.navlinks 
            a(href="/top") Top Stories
          li.navlinks 
            a(href="/") Latest News
          li.navlinks
            a(href="/tags") Tags
          if (!user)
            li.navlinks.name
              a(href="/login") Login
            li.navlinks.name
              a(href="/register") Register  
          if (user)
            li.navlinks
              a(href="/readinglist") Reading List
            li.navlinks.name
              a(href="/logout") Logout
            li.navlinks.name
              p Hi, 
                a(href='/myprofile') #{user.name}
            
        hr#bottom-line

      block contains
        
      #footer.row
        .col-md-8
          p(style="padding-top:20px;padding-bottom:20px")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos veritatis rem eum eveniet at. Tempora consequatur odit asperiores maxime, quod illum facere totam dolorum! Ex ipsum ab corporis quasi. Qui.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste autem temporibus cum explicabo. Explicabo repellat at distinctio minima dolorem labore, et perspiciatis voluptas sit tenetur ducimus, laborum similique eum nesciunt?
        .col-md-4.leftborder
          center
            h2#footer-heading News Talk
        



