extends layout
style
block contains
	.other-header
		h1 Login
		br
		center
			form(role='form', action="/login",method="post", style='max-width: 300px;')
				.form-group
					input.form-control(type='email', name="username", placeholder='Enter Username')
				.form-group
					input.form-control(type='password', name="password", placeholder='Password')
				button.btn.btn-default.btn-large(type='submit') Submit
			.col-md-4
			.col-md-4
				h3
					span OR
				
			.col-md-4