extends layout
block headfiles
	script(src = '/js/controllers/userCtrl.js')
	link(rel='stylesheet', href='/css/users.css')

block contains
	.top(ng-controller = 'UserController')
		span(ng-init = 'username = "#{user.name}"')
		.row
			.col-md-6
				img#pp(src = '#{user.profilePicture}')
				#topcontainer
					h2 #{user.name}
					h4 #{user.email}
			.col-md-2
			.col-md-4#readinglistcontainer
				h2 Reading List
				ul(ng-repeat = 'link in readinglist' ng-show="readinglist")
					li 
						a(href = '{{link.url}}') {{link.title}}
				p(ng-hide='readinglist') No articles in user reading list
		br
		br
		.row
			.col-md-6
				h2 Recent comments
				.recentcomments(ng-repeat = 'comment in recentcomments')
					p {{username}} commented 
						span.commentcontent "{{comment.contents | commentShortener}}" 
						|  on 
						a(href = '{{comment.url}}') {{comment.artTitle}}. 
						|  {{comment.timestamp | timestampFilter}}
			.col-md-6
				h2 Recommended Articles