.name{
	float:right;
}
body{
	font-family: Times New Roman;
}
.header{
	text-transform: capitalize;
	font-variant: small-caps;
	letter-spacing:10px;
	font-size:5em;
}
.subheader{
	opacity:.75;
	font-variant: small-caps;
	letter-spacing:3px;
}
.navlinks{
	margin:5px 10px 0px 10px;
	font-variant: small-caps;
	letter-spacing:2px;
}
hr{
	margin:0;
	border:0;
	border-top:1px solid #010101;
}
#bottom-line{
	color:black;
	border-top:1px solid rgba(1,1,1,.25);
}
.navigation{
	padding:20px 0px;
}