.name{
	float:right;
}
body{
	font-family: Times New Roman;
}
.header{
	text-transform: capitalize;
	font-variant: small-caps;
	letter-spacing:10px;
	font-size:5em;
}
.subheader{
	opacity:.75;
	font-variant: small-caps;
	letter-spacing:3px;
}
.navlinks{
	margin:5px 10px 0px 10px;
	font-variant: small-caps;
	letter-spacing:2px;
}
hr{
	margin:0;
	border:0;
	border-top:1px solid #010101;
}
#bottom-line{
	color:black;
	border-top:1px solid rgba(1,1,1,.25);
}
.navigation{
	padding:20px 0px;
}

/*For line on both sides*/
h3{
  position: relative;
  text-align: center;
}

h3 span {
  background: #fff;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

h3:before {
  background: #ddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
    top: 50%;
  width: 100%;
}

h3:before {
  left: 0;
}