.name{
	float:right;
}
body{
	font-family: Times New Roman;
}
.header{
	text-transform: capitalize;
	font-variant: small-caps;
	letter-spacing:10px;
	font-size:5em;
}
#footer-heading{
	text-transform: capitalize;
	font-variant: small-caps;
	letter-spacing:4px;
	font-size:3em;
}
.header a{
	color: #000000;
	text-decoration:none;
}
.subheader{
	opacity:.75;
	font-variant: small-caps;
	letter-spacing:3px;
}
.navlinks{
	margin:5px 10px 0px 10px;
	font-variant: small-caps;
	letter-spacing:2px;
	font-size:1.4em;
	overflow: hidden;
}

.navlinks a{
	color: #000000;
	text-decoration:none;
	overflow: hidden;
}

#footer{
	background-color:#ececec;
}

/*For line on both sides*/
h3{
  position: relative;
  text-align: center;
}

h3 span {
  background: #fff;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

h3:before {
  background: #ddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
    top: 50%;
  width: 100%;
}

h3:before {
  left: 0;
}

.title-toast{
	font-family: verdana;
	font-size:1.3em;
}
.toast-message{
	font-family: Helvetica;
	font-size:1.2em;
}